{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Modifier mon profile</h1>

    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_row(form) }}

    <button class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}